.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media  (max-width: 350px){
    }
    button {
            color: #000;
            background: #fff;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: capitalize;
            cursor: pointer;
            border: none;
            margin-top: 1rem;
            font-family: "Roboto";
            
    
            &.active {
                background: #5eb0ea;
                color: white;
                font-family: "Roboto";
                text-transform: capitalize;


            }
        }
    }
    .workImages {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        
        @media (max-width: 800px) {
            grid-template-columns: repeat(2,1fr);
        }
        
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        .workImage {
            max-width: 380px;
            height: 250px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            @media (max-width:600px) {
                max-width: 350px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10%;

            }

            .hoverLayer {
                  background-image: url("https://ethicsinfotech.in/uploads/slider/e-commerce-website.png") ;
	            background-repeat: no-repeat;
                border-radius: 10%;
                width: 100%;
                height: 100%;
                z-index: 5;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                gap: 1.5rem;
                justify-content: center;
                align-items: center;
                
                a {
                    width: 40px;
                    height: 40px;
                    background: rgba(11, 10, 10, 0.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    svg {
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }
        }
}

.talk {
    margin-top: 3rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 1rem;

    .talk_left{

        h3 {
            font-size: 1.5rem;

            span {
                font-size: 3.5rem;
                color:  #5eb0ea;
                


                @media screen and (max-width: 599px) {
                    font-size: 2rem;
                }

                @media screen and (max-width: 360px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .talk_right {
        align-self: flex-end;
        margin-bottom: 1.5rem;
        background: #5eb0ea;
        padding: 0.65rem 1rem;
        border-radius: 10px;
        font-size: 0.85rem;
        cursor: pointer;

         
        a {
            text-decoration: none;
            color: #fff;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
}
