

.contact_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  overflow: hidden;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  .contact_left_container {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .contact_text {
      font-family: "Roboto";
      font-size: 1rem;
      margin-bottom: 1rem;
      text-align: justify;
      text-justify: auto;
    }

    .contact_left {
      display: flex;
      align-items: center;

      margin-top: 1rem;
      text-align: justify;

      .icon {
        width: 50px;
        height: 50px;
        background: #50a3de;
        color: #e97f7f;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: -1rem;
        margin-right: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .social_icons {
      display: flex;
      margin-top: 2rem;

      div {
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        svg {
          font-size: 1.3rem;
        }
      }
    }
  }

  .contact_right {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 0.5rem;

      input,
      textarea {
        border: none;
        outline: none;
        margin-bottom: 0.5rem;
        padding: 1rem 1.5rem;
        background: #f3f3f3;
        border-radius: 5px;
        font-size: 0.85rem;
      }

      textarea {
        resize: none;
        min-height: 150px;
      }
    }
  }
Button{
  background-color: rgb(50, 83, 192);
  ;
}
  Button:hover{
background-color: rgb(112, 138, 239);
 
  }

}
.toast {
  @media only screen and (max-width: 767px) {
    /* For small screens (phones) */
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* For medium screens (tablets) */
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
  }

  @media only screen and (min-width: 992px) {
    /* For large screens (desktop) */
    width: 400px; /* Adjust the width as needed */
    right: 16px;
    bottom: 16px;
  }
}
