.select {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;

  button {
    color: #000;
    background: #fff;
    padding: 0.65rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    margin-top: 0, 1rem;
    font-family: "Roboto", sans-serif;

    &.active {
      background: #5eb0ea;
      color: white;
    }
  }
}
.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 700px;
  row-gap: 1rem;
  img {
    width: 70%; /* Set the width to 100% to make the image fill the grid cell */
    height: auto; /* Allow the height to adjust proportionally based on the width */
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    img {
      width: 80%; /* Set the width to 100% to make the image fill the grid cell */
      margin: auto;
    }
  }
}
.experiencs {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  .experience {
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
    margin-bottom: 3rem;
    span {
      font-size: 1.75rem;
      padding-left: 2.5rem;

      @media (max-width: 405px) {
        font-size: 1rem;
        height: 100%;
      }
    }
    .position {
      width: 300px;
      padding-left: 2.5rem;
      h3 {
        font-size: 1.1rem;
        @media (max-width: 405px) {
          font-size: 1rem;
          width: 90%;
          height: auto; /* Allow the height to adjust proportionally based on the width */
        }
      }
      p {
        font-size: 0.75rem;
        opacity: 0.6;

        @media (max-width: 405px) {
          font-size: 1rem;
          width: 90%;
          height: auto; /* Allow the height to adjust proportionally based on the width */
        }
      }
    }
  }
}

.finishes_container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 3rem;

  .number {
    color: #478ae8;
    font-size: 1.7rem;
  }
}
